.interfaz-friccion {
  width: 100%;
  padding: 80px 0;
  background: #000;
  color: #fff;

  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__title {
    font-size: clamp(2.8rem, 3.26vw, 2.93rem);
    font-weight: 700;
    margin-bottom: 60px;

    span {
      color: #fff;
    }

    .gradient {
      background: linear-gradient(90deg, #ff6a33, #ff5db1, #5c8dff);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  /* TOP: video1 + card */
  &__top {
    display: flex;
    gap: 40px;
    margin-bottom: 70px;

    @media (max-width: 900px) {
      flex-direction: column;
    }
  }

  &__video1 video {
    width: 100%;
    max-width: 800px;
    object-fit: contain;
    border-radius: 10px;
  }

  &__card {
    background: #111;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #333;
    box-shadow: 0px 0px 20px -2px rgba(117, 117, 117, 0.75);

    h3 {
      font-size: 1.6rem;
      margin-bottom: 15px;
      font-weight: 600;
    }

    p {
      color: #d1d1d1;
      font-size: 1.1rem;
      line-height: 1.6;
      margin-bottom: 15px;

      strong {
        color: #fff;
      }
    }
  }

  /* BOTTOM: texto + video2 */
  &__bottom {
    display: flex;
    gap: 40px;

    @media (max-width: 900px) {
      flex-direction: column;
    }
  }

  &__text {
    max-width: 50%;
    @media (max-width: 768px) {
        max-width: unset;
    }
    p {
      margin-bottom: 20px;
      font-size: 1.1rem;
      line-height: 1.6;

      .highlight {
        color: #D783D8;
        border-radius: 4px;
        font-weight: 500;
      }
    }
  }

  &__video2 video {
    width: 100%;
    max-width: 800px;
    object-fit: contain;
    border-radius: 10px;
  }
}
