@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");


body {
  font-family: "Inter Tight", sans-serif;
  background-color: #000;
  color: #fff;
}

//botón cta
.glow-btn {
  position: relative;
  z-index: 0;
  padding: 12px 28px;
  border-radius: 12px;
  background: #ffffff;
  color: #000000;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: transform 0.25s ease;



  // Glow multicolor ANIMADO detrás
  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: inherit;

    background: linear-gradient(
      45deg,
      #fe692e,
      #fd6b57,
      #f27291,
      #7a9be6,
      #60a4f8,
      #60a4f8,
      #fe692e,
      #f07069,
      #60a4f8
    );

    background-size: 400%;
    animation: glow-rotate 12s linear infinite;

    z-index: -1;    // DETRÁS del botón
    filter: blur(6px);
    opacity: 0.8;
  }

  // Fondo interno del botón
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: inherit;
    z-index: -1;
  }
}

// Animación del gradiente
@keyframes glow-rotate {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}







