.stream-section {
  width: 100%;
  background: #000;
  padding: 80px 0;
  display: flex;
  justify-content: center;
}

.stream-container {
  width: 90%;
  max-width: 1100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;

  @media (max-width: 900px) {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

/* Imagen izquierda */
.stream-image img {
  width: 100%;
  max-width: 620px;
  border-radius: 14px;

  @media (max-width: 900px) {
    max-width: 90%;
  }
}

/* Texto central */
.stream-info {
  max-width: 320px;
  color: #fff;
  font-size: 18px;
  line-height: 1.6;

  p {
    margin-bottom: 16px;
    @media (max-width: 768px) {
        text-align: start;
    }
  }

  .highlight {
    font-weight: 700;
    color: #c4c4ff;
  }
}

.gradient-title {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 20px;

  background: linear-gradient(90deg, #ff7a18, #e52e71, #7f00ff, #4f6bf7);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (max-width: 900px) {
    font-size: 36px;
  }
}

/* Cards derecha */
.stream-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 106px;
  @media (max-width: 768px) {
    padding-top: 10px;
  }

  .card {
    background: #80808043;
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 20px;
    border-radius: 14px;
    color: #fff;
    width: 260px;
    backdrop-filter: blur(8px);
    box-shadow: 0px 0px 20px -2px rgba(117, 117, 117, 0.75);


    .icon {
      font-size: 24px;
      margin-bottom: 16px;
      padding: 16px;
      border-radius: 50%;
      background-color: #c4c4ff27;
      display: inline-flex;
      align-items: center; 
      justify-content: center;
    }
    h3 {
      margin-bottom: 6px;
      font-size: 23px;
      font-weight: 700;
      margin-bottom: 16px;
    }

    p {
      font-size: 18px;
      opacity: 0.8;
      margin-bottom: 16px;
    }
  }

  @media (max-width: 900px) {
    width: 100%;
    align-items: center;

    .card {
      width: 90%;
      max-width: 330px;
    }
  }
}
