.expert-section {
  width: 100%;
  padding: 80px 20px;
  background: #000;
  color: #fff;

  .container {
    max-width: 1100px;
    margin: 0 auto;
  }

  .main-title {
    font-size: clamp(7em, 5vw, 94px);
    font-weight: 700;
    text-align: start;
    margin-bottom: 60px;
    line-height: 1.2;

    span {
      color: #fff;
    }

    .gradient {
      background: linear-gradient(90deg, #ff6a33, #ff5db1, #5c8dff);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .card {
    background: #22222f;
    padding: 25px;
    border: 1px solid #555555a0;
    border-radius: 14px;
    box-shadow: 0px 0px 20px -2px rgba(117, 117, 117, 0.75);
    transition: transform 0.25s ease;

    &:hover {
      transform: translateY(-6px);
    }

    h3 {
      display: flex;
      align-items: center;
      font-size: 23px;
      margin-bottom: 15px;
      font-weight: 600;

      .dot {
        width: 10px;
        height: 10px;
        background: #a855f7;
        border-radius: 50%;
        margin-right: 10px;
      }
    }

    p {
      color: #d1d1d1;
      line-height: 1.5;
      font-size: 18px;
    }
  }
}
